/* Promo section */
.promo {
    padding-top: 104px;
    margin-bottom: 64px;
    overflow-x: hidden;
}

.promo__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 32px;
    gap: 32px;
}

.promo__logo {
    width: 268px;
}

.promo__logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.promo__text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.promo__title {
    font-weight: 800;
    font-size: 86px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    color: var(--color-text-primary);
}

.promo__subtitle {
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--color-text-secondary);
    margin: 0;
}

.button--promo {
    width: 223px;
}

.container {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.promo__image {
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.promo__image-img {
    width: 100%;
    max-width: 1186px;
}

.promo__mobile-image {
    display: none; 
    position: relative;
    justify-content: center;
}

.promo__mobile-image-img {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    z-index: 2; 
}

.gray-block {
    position: absolute;
    background-color: #f0f0f0;
    width: 100%;
    height: 85%; 
    bottom: 0; 
    z-index: 1; 
    border-radius: 32px;
}


@media screen and (max-width: 768px) {
    .promo {
        padding-top: 86.5px;
        margin-bottom: 64.5px;
    }
    .promo__info {
        margin-bottom: 64px;
    }
    .promo__text {
        gap: 8px;
    }
    .promo__title {
        font-size: 48px;
    }
    .promo__subtitle {
        font-size: 24px;
    }
    .promo__image {
        display: none;
    }
    .promo__mobile-image {
        display: flex;
    }
    .promo__mobile-image-img {
        height: 315px;
        width: auto;
    }
}

@media screen and (max-width: 480px) {
    .promo {
        padding-top: 48px;
        margin-bottom: 32px;
    }
    .promo__info {
        margin-bottom: 32px;
    }
    .promo__title {
        font-size: 32px;
    }
    .promo__subtitle {
        font-size: 24px;
    }
    .promo__mobile-image-img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 320px) {
    .promo {
        padding-top: 40px;
        margin-bottom: 24px;
    }
    .promo__info {
        margin-bottom: 24px;
    }
    .promo__logo {
        width: 170px;
    }
    .promo__title {
        font-size: 20px;
    }
    .promo__subtitle {
        font-size: 16px;
    }
    .gray-block {
        border-radius: 16px;
    }
    .promo__mobile-image-img {
        width: 110%;
    }
}
